/* common_general_rules  */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	height: 100vh;
	overflow: hidden;
}

.flex {
	display: flex;
}

#site_sidebar img,
h3,
i,
.row,
.row_minor > button:hover {
	cursor: pointer;
}
/* common_general_rules  */

/* .debug */

.debug #site_main {
	width: 1440px;
	height: 1100px;
}

.debug #tool_action {
	width: 1210px;
	height: 100px;
	background-color: #fbf67d;
}

.debug #site_sidebar {
	width: 300px;
	height: 1100px;
	background-color: #6f4fed;
}

.debug #main_primary {
	width: 1210px;
	height: 1000px;
	background-color: #f98267;
}

.debug #site_footer {
	width: 1440px;
	height: 100px;
	background-color: #78e85c;
}
/* /.debug */

/**********
#SITE_MAIN
**********/

/* .container */
.container {
	flex-direction: row;
	justify-content: space-between;
}

.sidebar {
	width: 300px;
	height: calc(100vh - 115px);
	flex-direction: column;
	justify-content: space-between;
	background-color: #000;
	color: #fff;
}

/* .sidebar_up */
.sidebar_up {
	flex-direction: column;
	height: 80%;
}

.sidebar_up > img:nth-child(1) {
	width: 50%;
	height: 50%;
	margin: 1rem;
}

.sidebar_up > div {
	padding: 0.5rem;
}

.sidebar_up img {
	width: 25px;
	height: 25px;
}

.home {
	position: relative;
	border-left: 1px solid #adff2f;
}

.sidebar h3 {
	font-size: 12px;
	position: absolute;
	top: 30%;
	left: 15%;
}

.search {
	position: relative;
}

.search img,
h3 {
	color: #707070;
}

.library {
	position: relative;
	margin-bottom: 2rem;
}

.library img,
h3 {
	color: #707070;
}

.sidebar_up h2 {
	font-size: 15px;
	padding-bottom: 1rem;
}

.sidebar_up i {
	font-size: 40px;
	color: #a3a3a3;
}

.plus {
	position: relative;
}

#h4 {
	font-size: 12px;
	position: absolute;
	top: 8%;
	left: 20%;
}

.playlist {
	color: #6d6d6d;
	margin: 0.5rem;
}
/* /.sidebar_up */

/* .sidebar_down */
.sidebar_down {
	height: 20%;
}

.sidebar_down img {
	width: 8%;
	height: 8%;
}

.sidebar_down span {
	color: #717171;
	font-size: 12px;
}

#app {
	position: relative;
	padding: 0 0 0.5rem 1rem;
}

#app span {
	font-size: 12px;
	position: absolute;
	top: 10%;
	left: 18%;
	padding-bottom: 1rem;
}

#hr {
	width: 80%;
	border: 1px solid #717171;
	position: absolute;
	bottom: 0%;
	right: 12%;
}

#john {
	padding: 0.5rem 1rem;
	position: relative;
}

#circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #808080;
	font-size: 50px;
	position: relative;
}

#human {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 20px;
	width: 20px;
	transform: translate(-50%, -50%);
}

#john > h3 {
	font-size: 12px;
	position: absolute;
	top: 35%;
	left: 25%;
	color: #fff;
	font-size: 15px;
}
/* /.sidebar_down */
/* /.sidebar */

/* .content_right */
.content_right {
	width: calc(100vw - 300px);
	height: auto;
	background-color: #141922;
	overflow-y: auto;
	overflow-x: hidden;
}

/* .tool_action */
.tool_action {
	background-color: #080b12;
	width: 100%;
	height: 100px;
	position: relative;
}

.tool_action > button {
	width: 250px;
	height: 50px;
	text-align: center;
	background-color: #080b12;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 30px;
	position: absolute;
	right: 5%;
	top: 25%;
}
/* /.tool_action */

/* .nav */
.list_nav {
	list-style: none;
	padding: 2rem;
	text-align: center;
}

.list_nav > li {
	display: inline-block;
}

.list_nav > li > a {
	text-decoration: none;
	color: #7d7f84;
	display: block;
	padding: 0 0.5rem;
	font-size: 15px;
}
/* /.nav */

/* .film */
/* /.film */

/* /.content_right */

/**********
/#SITE_MAIN 
**********/

/**********
#SITE_FOOTER
**********/

#site_footer {
	width: 100%;
	height: 115px;
	background-color: #282828;
}

.menu {
	justify-content: space-between;
	padding: 1rem 0.5rem;
}

.menu img {
	width: 30%;
	height: 90%;
	display: inline;
}

/* .menu_left */
.menu_left {
	width: 25%;
}

.container_sinister {
	width: 60%;
}

.text {
	padding-left: 1rem;
	padding-top: 1rem;
	font-size: 15px;
}

.text h3 {
	color: #fff;
}

.text p {
	color: #878787;
}

.container_icon {
	width: 40%;
	padding-top: 1.5rem;
	color: #878787;
}

.container_icon i {
	font-size: 20px;
	padding: 0 0.5rem;
}
/* /.menu_left */

/* .menu_center */
.menu_center {
	width: 50%;
	padding: 0 1rem;
}

.menu_center i {
	color: #fff;
	font-size: 20px;
}

.container_up {
	margin: auto;
	padding: 0 25%;
	justify-content: center;
}

.container_up i {
	padding: 0 1rem;
	text-align: center;
}

.container_down {
	margin-top: 2rem;
}

.row {
	width: 100%;
	height: 16px;
	background-color: #5a5a5a;
	margin: 0 1rem;
	border-radius: 10px;
}

.row_minor {
	background-color: #c1c1c1;
	width: 30%;
	height: 100%;
	border-radius: 10px;
}

.row,
.row_minor:hover .row_minor {
	background-color: #fff;
}

.weather {
	color: #fff;
}
/* /.menu_center */

/* .menu_right */
.menu_right {
	width: 25%;
}

.container_right {
	margin-top: 2rem;
	position: relative;
}

.menu_right i {
	color: #fff;
	font-size: 20px;
	padding: 0 0.5rem;
	line-height: 50px;
}

.row_right {
	width: 200px;
	height: 16px;
	background-color: #5a5a5a;
	border-radius: 10px;
	position: absolute;
	top: 1rem;
	right: 0;
}

.row_minor_right {
	background-color: #c1c1c1;
	width: 30%;
	height: 100%;
	border-radius: 10px;
}

.container_right i:nth-child(1) {
	padding-left: 3rem;
}
/* /.menu_right */

/**********
/#SITE_FOOTER 
**********/
