/* common_general_rules  */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	height: 100vh;
	overflow: hidden;
}

.flex {
	display: flex;
}

.row,
.row_right,
#btn > button,
.image_card,
.icon_menu_left > i:hover {
	cursor: pointer;
	color: #fff;
}

.playlist_header > i:hover,
.playlist_header > .h4:hover,
.plus > div:hover {
	cursor: pointer;
	color: #fff;
}
/* common_general_rules  */

/* .debug */
.debug #site_main {
	width: 1440px;
	height: 1100px;
}

.debug .sidebar {
	width: 300px;
	height: 1100px;
	background-color: #6f4fed;
}

.debug .container_right {
	width: 1210px;
	height: 1000px;
	background-color: #f98267;
}

.debug .tool_action {
	width: 1210px;
	height: 100px;
	background-color: #fbf67d;
}

.debug #site_footer {
	width: 1440px;
	height: 100px;
	background-color: #78e85c;
}
/* /.debug */

/**********
#SITE_MAIN
**********/

/* .container */
.container_major {
	flex-direction: row;
	height: calc(100vh - 100px);
}

.sidebar h3:hover {
	color: #fff;
	cursor: pointer;
}

#app > span:hover {
	color: #fff;
	cursor: pointer;
}

/* .sidebar */
.sidebar {
	width: 250px;
	flex-direction: column;
	justify-content: space-between;
	background-color: #000;
	color: #fff;
}

.sidebar h3,
.playlist_header > h4,
#app > span {
	color: #707070;
}

/* .sidebar_up */
.sidebar_up {
	flex-direction: column;
}

#title img:nth-child(1) {
	width: 125px;
	height: 40px;
	margin: 5%;
}

#title > img:nth-child(1):hover {
	cursor: pointer;
}

#logo_spotify {
	width: 25px;
	height: 25px;
	margin: 18%;
	display: none;
	filter: invert(1);
}

.sidebar_up > div {
	padding: 0.5rem;
}

.sidebar_up img {
	width: 35px;
	height: 22px;
}

.home {
	position: relative;
	border-left: 1px solid #adff2f;
}

.home img {
	color: #d2d2d2;
}

.sidebar h3 {
	font-size: 12px;
	position: absolute;
	top: 30%;
	left: 18%;
}

.search {
	position: relative;
}

.library {
	position: relative;
	margin-bottom: 1rem;
}

.plus h2 {
	font-size: 15px;
	padding-bottom: 0.5rem;
}

.sidebar_up i {
	font-size: 40px;
	color: #a3a3a3;
}

.plus {
	position: relative;
}

.playlist_header .h4 {
	font-size: 12px;
	position: absolute;
	top: 16%;
	left: 25%;
}

.playlist {
	color: #6d6d6d;
	margin: 0.5rem;
}

.sidebar_down span {
	color: #717171;
	font-size: 12px;
}

#app {
	position: relative;
	padding-bottom: 0.5rem;
}

#app img {
	color: #989898;
	width: 25px;
	height: 25px;
}

#app span {
	font-size: 12px;
	position: absolute;
	top: 10%;
	left: 18%;
	padding-bottom: 1rem;
}

#hr {
	width: 80%;
	border: 1px solid #717171;
	position: absolute;
	bottom: 0%;
	right: 12%;
}

#john {
	padding: 0.5rem 1rem;
	position: relative;
}

#circle_sidebar_down {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #808080;
	font-size: 50px;
	position: relative;
}

#human {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 20px;
	width: 20px;
	transform: translate(-50%, -50%);
}

#john > h3 {
	font-size: 12px;
	position: absolute;
	top: 35%;
	left: 25%;
	color: #fff;
	font-size: 15px;
}
/* /.sidebar_down */
/* /.sidebar */

/* .container_right */
.container_right {
	width: calc(100vw - 250px);
	background-color: #141922;
	overflow-y: auto;
	overflow-x: hidden;
}

/* .tool_action */
.tool_action {
	background-color: #080b12;
	width: 100%;
	height: 60px;
	position: relative;
}

#btn {
	width: 200px;
	height: 30px;
	position: absolute;
	right: 5%;
	top: 20%;
}

#btn > button {
	width: 100%;
	height: 100%;
	border-radius: 30px;
	background-color: #080b12;
	border-color: #fff;
	font-size: 15px;
}

#btn:hover {
	width: 250px;
	height: 40px;
}
/* /.tool_action */

/* .nav */
.list_nav {
	list-style: none;
	padding: 0.5rem;
	text-align: center;
}

.list_nav > li {
	display: inline-block;
}

.list_nav > li > a {
	text-decoration: none;
	color: #7d7f84;
	display: block;
	padding: 0 0.5rem;
	font-size: 15px;
}

#link_first {
	width: 30%;
	color: #adff2f;
	margin: auto;
}

.list_nav > li > a:hover {
	color: #fff;
}
/* /.nav */

/* .album */
.album {
	width: auto;
	flex-direction: column;
	margin: 0 0.5rem;
}

.recently {
	margin-bottom: 2rem;
}

.artists {
	margin: 2rem 0;
}

.text_col h2 {
	color: #fff;
	padding: 0.5rem 0;
	font-size: 15px;
}

.text_col h4 {
	color: #7d7f84;
	padding: 0.5rem 0 1rem 0;
}

.play_over > i {
	font: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	display: none;
}

.image_card:hover .play_over > i {
	display: block;
}

/* .recently */
.recently {
	width: auto;
}

.col {
	height: auto;
	display: flex;
	flex-direction: row;
	margin: 0 -0.5rem;
}

.card {
	height: 100%;
	padding: 0 0.5rem;
	width: calc(100% / 6);
}

.image_card {
	position: relative;
}

.image_card img {
	width: 100%;
	height: 100%;
}

.card .text_card {
	text-align: center;
}

.text_card h4 {
	color: #fff;
	padding: 0.5rem 0;
	font-size: 15px;
}

.text_card p {
	color: #7d7f84;
	font-size: 13px;
}
/* /.recently */
/* /.album */
/* /.container_right */

/**********
/#SITE_MAIN 
**********/

/**********
#SITE_FOOTER
**********/

#site_footer {
	width: 100%;
	height: 100px;
	background-color: #282828;
	z-index: 10;
}

.menu {
	justify-content: space-between;
	padding: 1rem 0.5rem;
}

.menu_left,
.menu_right {
	width: 25%;
}

.text > p:hover {
	cursor: pointer;
	color: #fff;
	text-decoration: underline;
}

#play_icon > i:hover {
	font-size: 30px;
}

/* .menu_left */
.container_sinister {
	width: 100%;
}

.container_sinister img {
	width: 65px;
	height: 65px;
}

.text {
	padding-left: 5%;
	padding-top: 1rem;
	font-size: 15px;
}

.text h3 {
	color: #fff;
}

.text p {
	color: #878787;
}

.icon_menu_left {
	width: auto;
	padding-top: 1.5rem;
	padding-left: 5%;
	color: #878787;
}

.icon_menu_left i {
	font-size: 20px;
	padding: 0 15%;
}
/* /.menu_left */

/* .menu_center */
.menu_center {
	width: 50%;
	padding: 0 1rem;
}

.menu_center i {
	color: #fff;
	font-size: 20px;
}

.menu_center span {
	padding: 0 3%;
}

.container_up {
	margin: auto;
	padding: 0;
	justify-content: center;
}

.container_up i {
	margin: 0 3%;
	text-align: center;
}

.container_up i:hover {
	cursor: pointer;
}

.container_down {
	margin-top: 2rem;
	flex-direction: row;
}

.row {
	width: 100%;
	height: 10px;
	background-color: #5a5a5a;
	margin: 0.3rem 0.5rem;
	border-radius: 10px;
}

.row_minor {
	background-color: #c1c1c1;
	width: 30%;
	height: 10px;
	border-radius: 10px;
	position: relative;
}

.time {
	color: #fff;
}

.row:hover .row_minor {
	background-color: #adff2f;
	display: block;
}

.row:hover .circle_row {
	display: block;
}

.circle_row {
	border-radius: 50%;
	background-color: #c1c1c1;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0%;
	right: 0%;
	transform: translateY(-20%);
	display: none;
}
/* /.menu_center */

/* .menu_right */
.container_right_footer {
	margin-top: 1rem;
	position: relative;
}

.menu_right i {
	color: #fff;
	font-size: 15px;
	margin: 0 0.5rem;
	line-height: 50px;
}

.row_right {
	width: 35%;
	height: 10px;
	background-color: #5a5a5a;
	border-radius: 10px;
	position: absolute;
	top: 1.3rem;
	right: 0;
}

.row_minor_right {
	background-color: #c1c1c1;
	width: 40%;
	height: 100%;
	border-radius: 10px;
	position: relative;
}

.icon_menu_right {
	padding-left: 30%;
}

.icon_menu_right i:hover {
	cursor: pointer;
}

.row_right:hover .row_minor_right {
	background-color: #adff2f;
}

.row_right:hover .circle_row {
	display: block;
}
/* /.menu_right */

/**********
/#SITE_FOOTER 
**********/

/**********
MEDIA_QUERY
**********/

/* media_query_width_min_768px_max_1200px */
@media screen and (min-width: 768px) and (max-width: 1200px) {
	/* .container_right  */

	.recently .col {
		flex-wrap: wrap;
	}

	.card {
		width: calc(100% / 4);
	}
	/* /.container_right  */
}
/* /media_query_width_min_768px_max_1200px */

/* media_query_width_min_320px_max_767px */
@media screen and (min-width: 320px) and (max-width: 767px) {
	/* .container_right  */

	.recently .col {
		flex-wrap: wrap;
	}

	.card {
		width: calc(100% / 2);
	}
	/* /.container_right  */
}
/* /media_query_width_min_320px_max_767px */

/* media_query_width_min_0px_max_319px */
@media screen and (max-width: 319px) {
	/* .sidebar */
	.sidebar {
		width: 50px;
	}

	.plus,
	.sidebar h3 {
		display: none;
	}

	.sidebar_down span {
		display: none;
	}

	.sidebar_up img {
		width: 25px;
		height: 25px;
	}

	#title img:nth-child(1) {
		display: none;
	}

	#logo_spotify {
		display: block;
	}
	/* /.sidebar */

	/* .container_right  */
	#btn {
		width: 150px;
		height: 25px;
	}

	#btn > button {
		font-size: 10px;
	}

	.container_right {
		width: 100%;
	}

	.recently .col {
		flex-wrap: wrap;
	}

	.card {
		width: calc(100% / 2);
	}

	.list_nav > li > a {
		font-size: 4px;
	}

	.text_col > h2 {
		font-size: 13px;
	}

	.text_card > h4 {
		font-size: 10px;
	}

	.text_card > p {
		font-size: 7px;
	}
	/* /.container_right  */
}
/* /media_query_width_min_0px_max_319px */

/**********
/MEDIA_QUERY
**********/
